<h1>About us</h1>
<p>We're working on our One Month Rails project.</p>
<p>By completing the project, we'll become web app masters.  After that, we will start developing apps to help people find and buy locally farmed food products!</p>
