<div class="jumbotron jumbotron-contact">
    <div class="container">
        <h1>Contact us</h1>
        <p>Get to know us!  Send an email or call us up any time.</p>
    </div>
</div>
<div class="container">
    <div class="col">
        <div class="row-md-12">
            <p>Feel free to send questions or trip requests to: jessehintz44@gmail.com</p>
        </div>
    </div>
</div>